@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton");
body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../img/bg.jpg");    
    font-family: "poppins", sans-serif;   
}
h1, h2,h3, p{
    color: white;

    
}

.banText{
    text-align: left;
    max-width: 50%;
    padding: 12px;
}
.banT1, .banT2{
    text-align: left;
    padding: 0px;
}
.whatsapp{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}
button{
    border-radius: 10px;
    width:150px;
    height:40px;
    background: linear-gradient(to left top, #25D366 50%, #25D366 50%);
    border-style: none;
    color:#fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    border-radius: 10%;
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #128C7E);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #128C7E);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #075E54);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0),#075E54);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}





/* ////////////////Le header////////////////////////// */
.logo{
    display: flex;
    color: white;
    text-decoration: none;
    float: left; 
    /* P2 */
}
.f38 {
    font-size: 40px ;
    border: 3px solid;
    font-family: "Anton";
    padding: 3px;
}
.studio{
    font-size: 30px ;
    border: 4px solid;
    border-color: #000;
    font-family: "Arial";
    text-align: end;
    margin: auto;
}
header{
    margin: 20px auto;
    padding: 10px;
    background: #000;
    border-radius: 10px;
    /* Couleur de l'ombre du header (red green blue alpha)*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    /* P2 */
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
}
nav{
    float: right;   
}
/* blocage du float qui deborde */
.clearFloat{
    clear: both;
}
a{
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;    
}
nav ul li{
    list-style: none;    
}
nav ul li a{
    display: block;
    margin: 10px 0 ;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

/* animation: coloration de la nav comme boutton */
nav ul li a.activePage,
nav ul li a:hover{
    background: white;
    color: #000;
    transition: 0.5s;
    border-radius: 5px;
}
/* Des que nous sommes inferieur à 1200px appliquons ce qui suit */
@media(max-width :1200px)
{
    header{
        margin: 20px;
    }
}
/* Des que nous sommes inferieur à 867px appliquons ce qui suit */
@media(max-width :867px)
{   
    /* (.menuBoutton)  c'est le petit <div> vide entre le logo et  la <nav ul>. Je vais en faire un boutton quand la taille est inferieur à 867px(estimée dimmenssion d'un telphone.*/
    .menuButon{
        margin: 20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: black;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: white;
    }
    .menuButon:before{
        content: "\f0c9";
        font-family: "fontAwesome";
        line-height: 40px;
        
    }
    .menuButon.active:before{
        content: "\f00d";
        font-family: "fontAwesome";
        line-height: 40px;   
    }
    nav {
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;  
    }
    nav.active ul li a{
        margin: 5px;
    }
}
/* //////////////////////Positionnement du cadre 1//////////////////////////// */
.cadre1{
    padding-top: 5px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 0% 0% 5% 5%;
}
.welcomePng{   
    max-width: 60%;
}





